@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid" style="background-color:transparent;">
    <div class="container text-center">
        <h1 class="display-4">Enterwell Invoice Application</h1>
    </div>
</div>